@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #D7B8F3;
  --text: #FFFF;
  --dark: #892048;
  --light: #AB2458;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
